{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% if title %}
      <title>{{ title }} - Online Markdown Editor</title>
    {% else %}
      <title>Online Markdown Editor</title>
    {% endif %}
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>
