{% extends "mdtranslate/baselogout.html" %}
{% load static %}
{% block content %}
<div class="px-4 py-5 mb-5 text-center">
  <img class="d-block mx-auto" src="{% static 'mdtranslate/SirOlive.png' %}" alt="logo2" width="250" height="250">
  <h1 class="display-5 fw-bold">OliveMD</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">A free Markdown online editor with extended syntax oriented to the design of online books.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
    </div>
  </div>
</div>
{% endblock content %}
