{% extends "mdtranslate/baselogout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="row text-center">
      <h1>Reset Password</h1>
      <p class="mt-3">Enter your email address and we will send you a link <br> to reset password.</p>
    </div>
    <div class="mx-auto col-lg-6">
      <form method="post" class="p-5 border rounded-3 bg-light">
        {% csrf_token %}
        <fieldset>
          {{ form|crispy }}
        </fieldset>
        <button class="w-100 btn btn-lg btn-primary mt-3 mb-2" type="submit">Request password reset</button>
        <hr class="my-2">
        <small class="text-muted">
          Back to <a href="{% url 'login' %}">Login</a> page?
        </small>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
