{% extends "mdtranslate/baselogout.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container col-xl-9 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="row text-center">
        <h1>Reset Password</h1>
      </div>
      <div class="mx-auto col-lg-8">
        <form method="post" class="p-5 border rounded-3 bg-light">
          {% csrf_token %}
          <fieldset>
            {{ form|crispy }}
          </fieldset>
          <button class="w-100 btn btn-lg btn-primary mt-4 mb-2" type="submit">Reset password</button>
          <hr class="my-2">
          <small class="text-muted">
            Return to <a href="{% url 'login' %}">login</a>.
          </small>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
